        html {
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            min-height: 100vh;
            display: grid;
            grid-template-areas: "header header header" "main main aside" "footer footer footer";
            grid-template-columns: 1fr 1fr 30%;
            grid-column-gap: 55px;
            grid-row-gap: 55px;
        }

        .hero-header {
            grid-area: header;
            height: 250px;
            background-color: #B3C100;
        }

        .main-content {
            position: relative;
            grid-area: main;
            margin-left: 55px;
            height: 700px;
            background-color: #437F97;
        }


        .sidebar {
            grid-area: aside;
            height: 400px;
            margin-right: 55px;
            background-color: #FFB30F;
        }

        .ads-section {
            position: absolute;
            bottom: 50px;
            width: 700px;
            height: 150px;
            display: grid;
            grid-template-columns: repeat(3, 33%);
            justify-items: center;
            align-items: end;
        }

        .ad {
            background-color: #01295f;
            height: 150px;
            width: 150px;
        }

        .company-footer {
            grid-area: footer;
            height: 100px;
            background-color: #FD151B;
        }

        @media (max-width:500px) {

            body {
                grid-template-areas: "header" "main" "aside" "footer";
                grid-template-columns: 100%;
                grid-row-gap: 20px;
            }

            .sidebar {
                margin-right: 0;
            }

            .main-content {
                margin-left: 0;
            }
        }